* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-bg: #462255;
  --main-text: #070408;
  --accent-bg: #9FAF90;
  --text-accent: #CEB6BC;
  --accent-light: #FAF6F5;
  --accent-dark: #655F41;
}

body {
  background: var(--accent-dark);
  color: var(--main-text);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  height: 100vh;
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 40rem;
  background: var(--accent-light);
  border-radius: 5%;

}

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
    
   #instructions {
     width: 30rem;
     margin-bottom: 1rem;
     align-items: center;
   }
    #welcome {
        justify-content: center;
        align-self: center;
      }
  
    #results {
      margin-bottom: 1.5rem;
      display: none;  
    }

      .slide {
        display: none;
        }

        .active-slide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-end;
        height: 15rem;
        width: 30rem;
        background: var(--accent-light);
        border-radius: 5%;
              }
      
          img {
            height: 10rem;
            width: 10rem;
            border: 3px solid var(--main-bg);
          }

          .QandA {
            display: flex;
            flex-flow: column nowrap;
            align-content: space-between;
            align-items: flex-end;
            margin: 0 auto;
            height: 10rem;
            width: 15rem;
          }
          .answers {
            margin-top: .75rem;
            height: 8rem;
            width: 13rem;
          }
              label {
                display: block;
              }

          .question {
            margin-bottom: .1rem;
            width: 13rem;
          }

          #buttons {
          display: flex;
          flex-direction: column;
          align-content: space-between;
          justify-content: space-between;
                        }

                .clock {
                  display: none;
                  justify-content: center;
                  align-items: center;
                  height: 2em;
                  width: 5em;
                  background: var(--main-bg);
                  color: var(--accent-light);
                  border-radius: 50%;
                  font-size: 1rem;
                }

                #next, #submit {
                  display: flex;
                  flex-direction: column;
                  margin-top: 3em;
                  margin-bottom: 3em;
                }
            
