* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 30rem;
  border: 3px solid purple;

}

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
    
    #welcome {
        justify-content: center;
        align-self: center;
      }
  
    #results {
      margin-bottom: 3rem;
      border: 2px dotted orange;
    }

      .slide {
        display: none;
        }

        .active-slide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        align-self: center;
        height: 15rem;
        width: 30rem;
        border: 3px dotted purple;
              }
      
          img {
            justify-content: flex-start;
            height: 15rem;
            width: 15rem;
            border: 3px solid black;
          }

          .QandA {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            height: 15rem;
            width: 15rem;
          }
          .answers {
            height: 8rem;
            width: 13rem;
            display: inline-block;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            border: 3px solid green;

          }
              label {
                display: block;
                align-items: flex-end;
              }

          .question {
            justify-content: flex-end;
            align-items: flex-end;
            border: 3px solid red;
          }

          #buttons {
          display: flex;
          flex-direction: column;
          border: 3px dotted blue;
                }

                .clock {
                  display: none;
                  justify-content: center;
                  align-items: flex-end;
                  height: 3em;
                  width: 5em;
                  border: 3px dotted pink;
                }

                #next, #submit {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: flex-end;
                }
            
