* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

    .clock {
      align-content: center;
    }

    #results {
      display: flex;
      align-content: center;
    }

    .quiz-container {
      display: flex;
      flex-flow: column wrap;
      height: 500px;
      width: 500px;
    }

      .slide {
        display: none;
        /* z-index: 1;
        opacity: 0;
        transition: opacity 0.5s; */
        };

        .active-slide {
        /* opacity: 1;
        z-index: 2; */
        display: flex;
        };
      
          img {
            height: 250px;
            width: 250px;
            align-self: flex-start;
          }
          .answers {
            align-items: flex-start;
            flex-direction: column nowrap;
          }

          .question {
            align-items: flex-end;
          }

          #buttons {
           align-items: flex-end;
                }


